rules_version = '2';
service cloud.firestore {
  match /databases/{db}/documents {
    match /users/{u} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && request.auth.uid == u
        && request.resource.data.name is string && request.resource.data.name.size() <= 16;
    }
    match /listings/{l} {
      allow read: if request.auth != null;
      allow create: if request.auth != null
        && request.resource.data.seller == request.auth.uid
        && request.resource.data.sold == false
        && request.resource.data.qty is int && request.resource.data.qty > 0
        && request.resource.data.price is int && request.resource.data.price > 0 && request.resource.data.price <= 9999;
      allow update: if request.auth != null
        && resource.data.sold == false && request.resource.data.sold == true
        && request.resource.data.buyer == request.auth.uid
        && request.resource.data.diff(resource.data).affectedKeys().hasOnly(['sold', 'buyer']);
      allow delete: if request.auth != null && request.auth.uid == resource.data.seller;
    }
  }
}
